/** links*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/** Universal*/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
:root {
    size: 62.5%;
    --btn-clr: #4A9CA6;
    --h3-clr: #0000009c;
    --h2-clr: #000000d5;
}
.body {
    margin: 0 auto;
}
*::selection {
    background-color: var(--btn-clr);
    color: #fff;
}

/** Header*/
header {
    display: grid; grid-template-columns: 20% 55% 25%;
    background-color: #372459;
    padding: 1.7rem 1.2rem;
    position: sticky; top: 0;
}
header .title {
    font-size: 1.35rem; font-weight: bolder;
    color: #fff;
}
header .title > img {
    filter: brightness(0) invert(1);
    width: 1.8rem;
    vertical-align: text-bottom;
}
header > nav {
    display: flex; flex-flow: row wrap;
} 
header .acc {
    color: #fff;
    margin-right: 1.1rem;
    padding: 0.2rem 0.5rem; padding-left: 0;
    font-size: 0.9rem;
}
.acc > span {
    vertical-align: middle;
    transition: transform 0.2s;
    user-select: none;
}
.acc:hover > span:not(.hover-not) {
    transform: rotate(180deg);
}
header > nav div:last-child {
    padding-top: 0.4rem;
}
header .btns {
    display: flex; flex-flow: row wrap;
    align-items: baseline;
}
header button {
    text-transform: uppercase;
    background-color: transparent;
    outline: none; border: 0.15rem solid var(--btn-clr); border-radius: 0.5rem;
    margin: 0 0.3rem; padding: 0.5rem 1rem;
    font-size: 1rem; font-weight: 500;
    cursor: pointer;
}
header .btns .btn1 {
    color: var(--btn-clr);
    background-color: transparent;
}
header .btns .btn2 {
    color: #fff;
    background-color: var(--btn-clr);
}
header .btns .btn1:hover {
    color: #fff;
    background-color: var(--btn-clr);
}
header .btns .btn2:hover{
    color: var(--btn-clr);
    background-color: transparent;
}

/*^ show*/
header div {
    position: relative;
    transition: opacity 0.1s 0s ease-out;
    cursor: pointer;
}  
.show {
    position: absolute; top: 100%; left: -80%;
    background-color: #23292e; color: #fff;
    padding: 2rem 1rem;
    display: none; grid-template-columns: repeat(2, 1fr);
    width: max-content;
    opacity: 0;
}
header div:hover > .show {
    opacity: 1; display: grid;
}
.show > div {
    margin: 1.7rem 1rem 0.6rem;
}
.show > div:first-child {
    border-right: 0.2rem solid #a8a8a8;
}
.show > div h2 {
    font-size: 2rem; font-weight: 500;
    margin: 0.5rem 1rem 2rem;
}
.show > div h3 {
    font-size: 1.1rem; font-weight: 300;
    margin: 1.3rem 1rem;
}
.show > div h4 {
    font-size: 0.8rem; font-weight: 200;
    margin: 1.3rem 1rem;
}
.show > div h3:first-child {
    margin-top: 0;
}
.show > div h3:last-child {
    margin-bottom: 0;
}
.show span {
    vertical-align: middle; margin-right: 0.5rem;
    font-weight: 200; font-size: 2rem !important;
}
.show h3:hover {
    color: var(--btn-clr);
}
.lang {
    grid-template-columns: 100% !important;
    padding: 0.7rem;
    padding-right: 5rem;
}
.trans {
    color: transparent !important;
}


/** Main*/
main {
    width: 100%; 
    background-color: #fff;
}
main .home {
    min-height: 100vh;
    background-color: #372459; color: #fff;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px; word-spacing: 3px;
    padding: 3rem 2rem 0;
}
main .home h3 {
    margin-top: 1rem;
    font-size: 1.4rem;
}
main .home img {
    width: 50%;
    display: block; margin: 2rem auto 0;
}

main .desc {
    text-align: center;
    margin: 1rem;
    color: grey;
}
main h1.desc {
    color: #000000e1;
    margin: 2rem; 
    font-size: 2.5rem; font-weight: bold;
}
/*^ Gallery*/
main .gallery {
    display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(3, 1fr);
    padding: 1rem 8rem;
}
main .gallery img {
    width: 100%;
    margin: 0 1.5rem;
}
main .gallery div {
    padding-top: 5rem;
    letter-spacing: 1px; word-spacing: 1px;
}
main .gallery div h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--h2-clr);
    margin: 0 1.5rem;
}
main .gallery div h3 {
    color: var(--h3-clr);
    font-size: 1rem; font-weight: 200;
    margin: 1.3rem 1.5rem;
}
main .gallery div h3 span {
    color: var(--btn-clr);
    cursor: pointer;
}
/*^ signup*/
main .signup {
    padding: 3.5rem 0; background-color: rgba(141,90,173,.1);
    text-align: center;
}
main .signup h2 {
    color: var(--h2-clr);
    font-size: 3.3rem; font-weight: 600;
}
main .signup h3 {
    color: var(--h3-clr);
    font-size: 1.4rem; font-weight: 100;
    margin: 0.5rem 0;
}
main .signup div {
    margin: 3.7rem 0 1rem;
    display: inline-block; 
}
main .signup div input {
    padding: 1.1rem 1rem; margin: 0;
    font-size: 1.05rem;
    border: 0.2rem solid var(--btn-clr); border-radius: 0.5rem 0 0 0.5rem;
}
main .signup div input:focus-within {
    outline: none;
}
main .signup div button {
    padding: 1.1rem 1.5rem; margin-left: -0.5rem;
    border: 0.2rem solid var(--btn-clr); border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--btn-clr); color: #fff;
    font-size: 1.05rem; font-weight: 600;
    cursor: pointer;
}
main .signup div button:hover {
    background-color: #fff;
    color: var(--btn-clr);
}
main .signup h4 {
    font-size: 0.95rem; font-weight: 100;
    color: var(--h3-clr);
}
main .signup h4 > span {
    color: var(--h2-clr);
    font-weight: 700;
}
/*^ Section*/
main .section {
    margin: 3rem 0; padding: 1rem 0;
    text-align: center;
}
main .section h2 {
    font-size: 2.6rem;
    color: var(--h2-clr);
}
main .section section {
    margin: 2rem 12rem; 
    display: grid; grid-template-columns: repeat(2, 1fr);
}
main .section section div {
    margin: 0 1.5rem;
}
main .section section img {
    width: 100%;
    margin: 2rem 0;
    cursor: pointer;
}
main .section section h4 {
    font-size: 1.1rem; font-weight: 100;
    color: var(--h3-clr);
}
/*^ Success stories*/
.success {
    text-align: center;
    margin: 1rem 0;
}
.success h2 {
    font-size: 2.8rem;
    color: var(--h2-clr);
}
.success section {
    margin: 3rem 12%;
    display: flex; flex-flow: row wrap;
    justify-content: space-around;
    width: 76%;
}
.success section .card {
    width: clamp(250px, 30%, 350px);
    box-shadow: 0 0 23px 5px rgba(0,0,0,.1);
    transition: box-shadow 0.5s;
    border-radius: 0.7rem;
} 
.success section .card img:first-of-type {
    width: 96%; 
    margin: 2%;
    border-radius: 0.7rem;
}
.success section .card img:last-of-type {
    height: 32px;
    object-fit: cover;
}
.success section .card:hover {
    box-shadow: 0 0 80px 5px rgba(0,0,0,.14);
}
.success section .card p {
    font-size: 1.13rem; line-height: 1.75rem;
    padding: 0.7rem 2.5rem;
    color: var(--h3-clr);
}
.success section .card p:last-child {
    color: var(--btn-clr);
    cursor: pointer;
    font-weight: 100;
}
.success section .card p:last-child span {
    vertical-align: middle;
    user-select: none;
    margin-left: 0.7rem;
}

/** Footer*/




