
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/** Universal*/
* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
:root {
    size: 62.5%;
    --btn-clr: #4A9CA6;
    --h3-clr: #0000009c;
    --h2-clr: #000000d5;
}
.body {
    margin: 0 auto; 
    overflow-x: hidden;
}
*::-moz-selection {
    background-color: var(--btn-clr);
    color: #fff;
}
*::selection {
    background-color: var(--btn-clr);
    color: #fff;
}
a {
    text-decoration: none;
    color: initial;
}

/** Header*/
header {
    display: -ms-grid; display: grid; -ms-grid-columns: 20% 55% 25%; grid-template-columns: 20% 55% 25%;
    background-color: #372459; color: #fff;
    position: relative;
    width: 100%;
    padding: 1.4rem 1.2rem;
    z-index: 1; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
}
header .title {
    font-size: 1.35rem; font-weight: bolder;
    color: inherit;
}
header .title > img {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
    width: 1.8rem;
    vertical-align: text-bottom;
}
header > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap;
} 
header .acc {
    color: inherit;
    margin-right: 1.1rem;
    padding: 0.2rem 0.5rem; padding-left: 0;
    font-size: 0.9rem;
}
.header-fixed {
    background-color: #fff; color: var(--h2-clr);
    position: fixed; top: 0;
}
.header-fixed .title > img {
    -webkit-filter: none;
            filter: none;
}
.acc > span {
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.acc:hover > span:not(.hover-not) {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
header > nav div:last-child {
    padding-top: 0.4rem;
}
header .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
header button {
    text-transform: uppercase;
    background-color: transparent;
    outline: none; border: 0.15rem solid var(--btn-clr); border-radius: 0.5rem;
    margin: 0 0.3rem; padding: 0.5rem 1rem;
    font-size: 1rem; font-weight: 500;
    cursor: pointer;
}
header .btns .btn1 {
    color: var(--btn-clr);
    background-color: transparent;
}
header .btns .btn2 {
    color: #fff;
    background-color: var(--btn-clr);
}
header .btns .btn1:hover {
    color: #fff;
    background-color: var(--btn-clr);
}
header .btns .btn2:hover{
    color: var(--btn-clr);
    background-color: transparent;
}

/*^ show*/
header div {
    position: relative;
    -webkit-transition: opacity 0.1s 0s ease-out;
    -o-transition: opacity 0.1s 0s ease-out;
    transition: opacity 0.1s 0s ease-out;
    cursor: pointer;
}  
.show {
    position: absolute; top: 100%; left: -80%;
    background-color: #23292e; color: #fff;
    padding: 2rem 1rem;
    display: none; -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    opacity: 0;
}
header div:hover > .show {
    opacity: 1; display: -ms-grid; display: grid;
}
.show > div {
    margin: 1.7rem 1rem 0.6rem;
}
.show > div:first-child {
    border-right: 0.2rem solid #a8a8a8;
}
.show > div h2 {
    font-size: 2rem; font-weight: 500;
    margin: 0.5rem 1rem 2rem;
}
.show > div h3 {
    font-size: 1.1rem; font-weight: 300;
    margin: 1.3rem 1rem;
}
.show > div h4 {
    font-size: 0.8rem; font-weight: 200;
    margin: 1.3rem 1rem;
}
.show > div h3:first-child {
    margin-top: 0;
}
.show > div h3:last-child {
    margin-bottom: 0;
}
.show span {
    vertical-align: middle; margin-right: 0.5rem;
    font-weight: 200; font-size: 2rem !important;
}
.show h3:hover {
    color: var(--btn-clr);
}
.lang {
    -ms-grid-columns: 100% !important;
    grid-template-columns: 100% !important;
    padding: 0.7rem;
    padding-right: 5rem;
}
.trans {
    color: transparent !important;
}
/*^ Login-Form*/ 
.login-container {
    position: absolute; top: 0; left: 0;
    width: 100vw; height: 100vh; overflow: hidden;
    display: none; place-items: center;
    background-color: rgba(50, 50, 50, 0.5);
}
.login-active {
    display: -ms-grid;
    display: grid;
}
.login-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#login-form {
    width: 30vw;
    padding: 2.5rem 2rem;
    background-color: #fff; color: #000;
    border-radius: 2rem; border: 0.2rem solid;
    text-align: center;
}
#login-form input {
    width: 100%;
    margin: 1rem 0; padding: 0.7rem 1rem;
    font-size: 1.8rem;
    outline: none; border: none; border-bottom: 0.2rem solid #000; border-radius: 1rem;
    background-color: rgba(144, 238, 144, 0.377);
}
#login-form input:not([type="submit"]):focus {
    scale: 1.05;
}
#login-form input[type="submit"] {
    width: auto;
    display: block; margin: 0.5rem auto;
    border: 0.15rem solid #000;
}
#login-form input[type="submit"]:active {
    scale: 0.9;
}

/** Main*/
main {
    width: 100%; 
    background-color: #fff;
}
main .home {
    min-height: 100vh;
    background-color: #372459; color: #fff;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px; word-spacing: 3px;
    padding: 3rem 2rem 0;
}
main .home h3 {
    margin-top: 1rem;
    font-size: 1.4rem;
}
main .home img {
    width: 50%;
    display: block; margin: 2rem auto 0;
}

main .desc {
    text-align: center;
    margin: 1rem;
    color: grey;
}
main h1.desc {
    color: #000000e1;
    margin: 2rem; 
    font-size: 2.5rem; font-weight: bold;
}
/*^ Gallery*/
main .gallery {
    display: -ms-grid;
    display: grid; -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); -ms-grid-rows: (1fr)[3]; grid-template-rows: repeat(3, 1fr);
    padding: 1rem 8rem;
}
main .gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
main .gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
main .gallery > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
main .gallery > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
main .gallery > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
main .gallery > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}
main .gallery img {
    width: 100%;
    margin: 0 1.5rem;
}
main .gallery div {
    padding-top: 5rem;
    letter-spacing: 1px; word-spacing: 1px;
}
main .gallery div h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--h2-clr);
    margin: 0 1.5rem;
}
main .gallery div h3 {
    color: var(--h3-clr);
    font-size: 1rem; font-weight: 200;
    margin: 1.3rem 1.5rem;
}
main .gallery div h3 span {
    color: var(--btn-clr);
    cursor: pointer;
}
/*^ signup*/
main .signup {
    padding: 3.5rem 0; background-color: rgba(141,90,173,.1);
    text-align: center;
}
main .signup h2 {
    color: var(--h2-clr);
    font-size: 3.3rem; font-weight: 600;
}
main .signup h3 {
    color: var(--h3-clr);
    font-size: 1.4rem; font-weight: 100;
    margin: 0.5rem 0;
}
.signup-form {
    margin: 3.7rem 0 1rem;
    display: inline-block; 
}
.signup-form input {
    padding: 1.1rem 1rem; margin: 0;
    font-size: 1.05rem;
    border: 0.2rem solid var(--btn-clr); border-radius: 0.5rem 0 0 0.5rem;
}
.signup-form input:focus-within {
    outline: none;
}
.signup-form button {
    padding: 1.1rem 1.5rem; margin-left: -0.5rem;
    border: 0.2rem solid var(--btn-clr); border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--btn-clr); color: #fff;
    font-size: 1.05rem; font-weight: 600;
    cursor: pointer;
}
.signup-form button:hover {
    background-color: #fff;
    color: var(--btn-clr);
}
main .signup h4 {
    font-size: 0.95rem; font-weight: 100;
    color: var(--h3-clr);
}
main .signup h4 > span {
    color: var(--h2-clr);
    font-weight: 700;
}
/*^ Section*/
main .section {
    margin: 3rem 0; padding: 1rem 0;
    text-align: center;
}
main .section h2 {
    font-size: 2.6rem;
    color: var(--h2-clr);
}
main .section section {
    margin: 2rem 12rem; 
    display: -ms-grid; 
    display: grid; -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr);
}
main .section section div {
    margin: 0 1.5rem;
}
main .section section img {
    width: 100%;
    margin: 2rem 0;
    cursor: pointer;
}
main .section section h4 {
    font-size: 1.1rem; font-weight: 100;
    color: var(--h3-clr);
}
/*^ Success stories*/
.success {
    text-align: center;
    margin: 1rem 0;
}
.success h2 {
    font-size: 2.8rem;
    color: var(--h2-clr);
}
.success section {
    margin: 3rem 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 76%;
}
.success section .card {
    width: clamp(250px, 30%, 350px);
    -webkit-box-shadow: 0 0 23px 0 rgba(0,0,0,.1);
            box-shadow: 0 0 23px 0 rgba(0,0,0,.1);
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
    border-radius: 0.7rem;
} 
.success section .card img:first-of-type {
    width: 96%; 
    margin: 2%;
    border-radius: 0.7rem;
}
.success section .card img:last-of-type {
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
}
.success section .card:hover {
    -webkit-box-shadow: 0 0 80px 0 rgba(0,0,0,.14);
            box-shadow: 0 0 80px 0 rgba(0,0,0,.14);
}
.success section .card p {
    font-size: 1.13rem; line-height: 1.75rem;
    padding: 0.7rem 2.5rem;
    color: var(--h3-clr);
}
.success section .card p:last-child {
    color: var(--btn-clr);
    cursor: pointer;
    font-weight: 100;
}
.success section .card p:last-child span {
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: 0.7rem;
}
/*^ Integrations*/
.integrations {
    padding: 7.5rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
    color: var(--h2-clr);
}
.integrations section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;   
    margin: 3rem;
}
.integrations section img {
    height: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 1.5rem;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}
.integrations section img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
.sm-img {
    height: 45px !important;
}
.xsm-img {
    height: 70px !important;
}
/*^ try-free*/
.try-free {
    font-size: 16px;
    padding: 3rem 0;
    background-color: #372459;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap-reverse; flex-flow: row wrap-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.try-free div:first-child {
    width: 45%;
    color: #fff;
    padding: 1rem 2rem; margin: 0 2rem; padding-left: 2.5rem;
}
.try-free div:last-child {
    width: 40%;
    position: relative;
}
.try-free h2 {
    font-size: 2.8rem; font-weight: 900;
    margin: 1rem 0;
}
.try-free .signup-form {
    margin-top: 1.5rem !important;
}
.try-free p {
    font-size: 0.9rem; font-weight: 100;
    margin: 0.1rem 0;
}
.try-free img {
    width: 135%;
    position: absolute; top: -30%; right: -23%;
}

/** Footer*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2rem 5rem;
}
footer section {
    width: 60%;
    margin: 1rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
section ul {
    list-style-type: none;
    width: 18%;
    margin: 1rem 1.2rem;
}
section ul li {
    font-size: 0.8rem; font-weight: 100;
    margin: 0.3rem;
    color: var(--h3-clr);
    cursor: pointer;
}
section ul li:first-child {
    font-size: 1.1rem; font-weight: 900;
    color: var(--h2-clr);
    margin: 0.7rem 0;
}
section ul li:hover {
    color: var(--btn-clr);
}
footer aside {
    width: 25%;
    margin: 1rem;
}
